DB_URL=jdbc:postgresql://localhost:5432/financialapp?currentSchema=finances
DB_USERNAME=financialapp
DB_PASSWORD=changeme
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
DAYS_BEFORE_PAYMENT_ALERT=3
DAYS_BEFORE_LOAN_ALERT=3
DAYS_BEFORE_INSTALLMENT_ALERT=3
